@model AeropuertoApp.Web.Models.Reservation.GetAvailableFlghtsResponse

@{
    ViewBag.Title = "Vuelos disponibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vuelos disponibles</h2>

@using (Html.BeginForm("GetAvailableFlights", "Reservation", FormMethod.Get))
{
<div class="row">
    <div class="form-group col-md-3">
        @Html.DisplayNameFor(model => model.Request.FechaInicio)
        @Html.EditorFor(model => model.Request.FechaInicio, new { htmlAttributes = new { @class = "form-control", data_date_format = "dd-mm-yyyy" } })
    </div>
    <div class="form-group col-md-3">
        @Html.DisplayNameFor(model => model.Request.FechaFinal)
        @Html.EditorFor(model => model.Request.FechaFinal, new { htmlAttributes = new { @class = "form-control", data_date_format = "dd-mm-yyyy" } })
    </div>
</div>
<div class="row">
    <button type="submit" class="btn btn-primary center-block">Filtrar</button>
</div>
}
<br />
@Html.Partial("ListFlights", Model.Vuelos)

@section styles {
    <link href="~/Content/Scripts/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Request_FechaInicio').datepicker({
                autoclose: true,
                clearBtn: true,
                format: "mm/dd/yyyy"
            });
            $('#Request_FechaFinal').datepicker({
                autoclose: true,
                clearBtn: true,
                format: "mm/dd/yyyy"
            });
        });
    </script>
}
